modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 35484496

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"

[[ports]]
localPort = 3000
externalPort = 80
